@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nokora:300,regular,700,900&display=swap");

@import url("reset.css");
@import url(fonts.css);

/*--------------------------------------------------------------*/
body{
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.wrapper{
}

.header {
	font-family: "Rubik", sans-serif;
	text-align: center;
	line-height: 1.3;
	
}
.header__title {
	font-size: 50px;
	font-weight: 600;
	color: rgb(55, 55, 207);
	text-shadow: 2px 2px 7px rgb(173, 38, 236);
	text-transform: uppercase;
	text-decoration: underline;
}
.header__list {
}
.header__link {
	font-size: 30px;
	font-style: italic;
	text-transform: capitalize;
	color: rgb(94, 94, 145);
	white-space: nowrap;
	word-spacing: 10px;

}

.page {
}


/*-  article-one  -------------------------------------------*/
.article-one {
	text-align: center;
}
.article-one__title {
	font-family: "Nokora", serif;
	font-size: 80px;
	font-weight: 900;
	color: rgb(8, 95, 95);
	text-shadow: -2px -2px 10px rgb(245, 166, 20);

}
.article-one__image {
}
.article-one__text {
	font-size: 20px;
	font-weight: 300;
}

.article-one__text  {
	line-height: 1.5;
	
}

#part-1 {
	color: gray;
	font-style: italic;
}

#part-1 span{
	color: aqua;
	word-spacing: 15px;
	text-shadow: 2px -2px 10px rgb(14, 13, 13);

}


#part-1 + p {
	color: blue;
	font-style: italic;
	font-size: 25px;
	font-weight: 500;
}

#part-1 + p span {
	color: green;
	text-transform: uppercase;
	font-weight: 800;
	word-spacing: 5px;
	text-decoration: line-through;
	text-decoration-color: aqua;
}

#part-2 {
	line-height: 1.6;
	color: rgb(110, 25, 25);
	text-decoration: underline;
	text-decoration-color: blueviolet;
	line-height: 3;
	text-align: left;
}

#part-3 {
	color: rgba(10, 10, 10, 0.253);
	text-transform: uppercase;
	line-height: 0.9;
}


/*----------------------------------------------------------------------*/

.title{
	font-size: 40px;
	font-weight: 600;
	line-height: 48px;
}
.text{
	text-align: left;
	line-height: 30px;
}


/*-  article-two  ------------------------------------------------------*/
.article-two {
	color: rgb(43, 41, 41);
}
.article-two__title {
	text-align: center;
}
.article-two__text {
	
}

.article-two__text span {
	color: rgba(43, 41, 41, 0.5);
}

/*-  article-three  ------------------------------------------------------*/

.article-three {
	text-align: center;
	color: rgb(43, 41, 41);
}
.article-three__sub-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

.article-three__title {

}
.article-three__image {
}
.article-three__text {
}
/*-  footer  ------------------------------------------------------*/
.footer{
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	color: aqua;
	text-shadow: 3px 3px 2px #000;
}