@import url("fonts.css");

@import url("reset.css");

/*=================================================================*/
body {
    font-family: "Proxima Nova", sans-serif;
    color: #535353;
    font-weight: 400;
    font-size: 16px;
}


[class*="__container"] {
    max-width: 1320px;
    margin: 0px auto;
    padding: 0 15px;
}


.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}


/*=================================================================*/


/*=================================================================*/

.middle-header__burger,
.selected-3{
    display: none;
}
.middle-header__burger img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.middle-header__logo img {
    max-width: 250px;
	
	
}

.top-header {
    background: #F8F8F8;
    padding: 15px 0;
}

.top-header__container {
    display: flex;
    gap: 30px;
    
}

.top-header__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 5px;
    flex-grow: 1;
}

.top-header__list {
    line-height: 187.5%;
}

.top-header__link {
    position: relative;
    text-decoration: none;
    color: #535353;
}

.top-header__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #535353;
    transition: 0.5s ease;
}


@media (any-hover: hover){
	.top-header__link:hover::before{
		width: 100%;
	}
}

/*----------------------------*/
.social-header {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
    align-items: center;
}

.social-header__text {
    line-height: 187.5%;
}

.social-header__list {
    display: flex;
    gap: 10px;
}

.social-header__icon {
    display: flex;
    transition: 0.9s;
}


@media (any-hover: hover){
	.social-header__icon:hover {
        transform: rotate(360deg)
	}
}

/*----------------------------*/
.lang-header {
    background-color: #F8F8F8;
    color: #535353;
    border: none;
    font-size: 19px;
    font-weight: 600;
    line-height: 126%;
    transition: 0.3s;
}

@media (any-hover: hover){
	.lang-header:hover {
        color: #2B2929;
	}
}
/*------------------------------------------*/

.middle-header {
    border-bottom: 2px solid #F8F8F8;
}

.middle-header__container {
    padding: 25px 0;

}

.middle-header__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.middle-header__logo img {
    width: 250px;

}

.button {
    font-size: 19px;
    font-weight: 600;
    line-height: 126%;
    color: #FFF;
    padding: 11px 20px 11px 50px;
    border-radius: 8px;
    background: #FFBC57;
    position: relative;
    transition: 0.3s ease;
}

@media (any-hover: hover){
	.button:hover {
        background:  #e6a647;
	}
}

.button:active {
    background: #c4862a;
}

.button::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 15px;
    background: url(../img/header/header-middle/menu-catalog.svg) 0 0 no-repeat;
    width: 24px;
    height: 24px;
}


.search {
    position: relative;
    background-color: #fff;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    flex-basis:421px;
    flex-shrink: 1;
}

.search__input {
    padding-left: 15px;
    padding-right: 54px;
    color: #535353;
    border-radius: 8px;
    height: 50px;
}


@media (any-hover: hover){
	.search__input:hover {
        outline: 2px solid #f19a17;
	}
}


.search__input:focus-visible {
    outline: 2px solid #f19a17;
}



.search__input::placeholder {
    color: #b1b1b1;
}

.search__button {
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 100%;
    background: url("../img/header/header-middle/search.svg") center no-repeat;
    transition: 0.3s;
}
@media (any-hover: hover){
	.search__button:hover {
        transform: rotate(90deg);
	}
}


.middle-header__call {
    display: flex;
    align-items: center;
    gap: 10px;
}

.call-img {
    transition: 0.3s;

}

.call-img:hover {
    transform: scale(1.1);
}

.call-items {
    display: flex;
    flex-direction: column;
}

.call-items__title {
    font-size: 13px;
    font-weight: 300;
    line-height: 169%;
}

.call-items__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    transition: 0.3s;
}

@media (any-hover: hover){
	.call-items__subtitle:hover {
        color: #e6a647;
	}
}

.call-icon {
    transition: 0.3s;
}

.middle-header__selected {
    display: flex;
    gap: 20px;
}

.selected-1,
.selected-2,
.selected-3 {
    transition: 0.3s;
}


@media (any-hover: hover){
	.selected-1:hover,
    .selected-2:hover,
    .selected-3:hover {
    transform: scale(1.1);
	}
}


/*================================================================*/

.bottom-header {
    padding: 20px 0;
}


.bottom-header__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 19px;
    font-weight: 600;
    line-height: 126%;

}

.bottom-header__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.bottom-header__list {
    transition: 0.3s;
}

@media (any-hover: hover){
	.bottom-header__list:hover {
        color: #e6a647;
	}
}


.bottom-header__list img {
    height: 24px;
    width: 24px;
}

.bottom-header__link {
    display: flex;
    align-items: center;
    gap: 10px;

}

.menu-bottom-header__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.menu-bottom-header__link {
    transition: 0.3s;
    position: relative;
    text-decoration: none;
}

.menu-bottom-header__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #535353;
    transition: 0.5s ease;
}

@media (any-hover: hover){
	.menu-bottom-header__link:hover::before {
		width: 100%;
	}
}

/*==================================================================*/
.page{
    background: #F8F8F8;
}

/*--  PC  --*/
@media (max-width: 1229.98px){
    .bottom-header__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1203.98px){
    .call-items__title,
    .call-items__subtitle,
    .call-icon{
        display: none;
    }
}
@media (max-width: 1010.98px){
    .social-header__text{
        display: none;
    }
}


/*=================================================================*/
/*--  Tablet  --*/
@media (max-width: 991.98px) {
}





@media (max-width: 805.98px) {
    .lang-header,
    .search{
        display: none;
    }
    .selected-3 {
        display: block;
    }
}

/*=================================================================*/
/*--  Mobile  --*/
@media (max-width: 767.98px) {
    .top-header{
        display: none;
    }
    .middle-header__burger{
        display: block;
        
    }
    .middle-header__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 90px;
    }
    .middle-header__button{
        order: 2;
    }
    .middle-header__selected{
        order: 3;
    }
}


@media (max-width: 741.98px) {
    .menu-bottom-header__list{
        display: none;
    }
}

@media (max-width: 538.98px) {
    .middle-header__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 496.98px) {
    .bottom-header{
        display: none;
    }
}

/*=================================================================*/
/*--  Mobile Small --*/
@media (max-width: 479.98px) {
    .header__bottom-header{
        display: none;
    }
    .middle-header__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    
}
@media (max-width: 403.98px) {
    .middle-header__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 10px;
    }
    
}
@media (max-width: 381.98px) {
    
    .middle-header__logo img{
        width: 180px;
        object-fit: contain;
    }
    
}

@media (max-width: 344.98px) {
    
    .middle-header__selected{
        gap: 5px;
    }
    
}

