@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,500,700&display=swap");

@import url("fonts.css");

@import url("reset.css");

/*=================================================================*/
body {
	font-family: "Proxima Nova", sans-serif;
	color: rgb(43, 41, 41);
	font-weight: 400;
	font-size: 16px;
	background: rgba(30, 40, 50, 0.05);

}


[class*="__container"] {
	max-width: 1070px;
	margin: 0px auto;
	padding: 0 20px;
}


.wrapper {
	overflow: hidden;
	min-height: 100%;
}

/*=================================================================*/
.header {
	background: rgb(229, 229, 229);
}

.header__container {
	margin-bottom: 80px;
}

.header__items {
	font-size: 0;
	padding: 20px 0;
	text-align: center;
}

.header__list {}

.header__link {
	margin: 0 30px;
	display: inline-block;
}

.header__link a {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.22;
}

/*--------------------------------------*/
.header__link:first-child a {
	border-radius: 20px 5px;
	box-shadow: inset 0px 5px 5px 0px rgba(85, 91, 110, 0.15);
	background: rgb(187, 208, 255);
	color: rgb(85, 91, 110);
	padding: 18px 52px;
}

.header__link:first-child a:hover {
	background: rgb(106, 136, 201);
	color: rgb(248, 249, 252);
}

.header__link:first-child a:active {
	background: rgb(46, 78, 148);
}

.header__link:first-child a:visited {
	color: rgb(3, 3, 29);
}

/*--------------------------------------*/
.header__link:nth-child(2) a {
	background: linear-gradient(90.00deg, rgb(237, 87, 176), rgb(252, 103, 103) 100%);
	color: rgb(255, 255, 255);
	padding: 21px 40px;
	border-radius: 5px;
}

.header__link:nth-child(2) a:hover {}

.header__link:nth-child(2) a::before {
	content: "";
	background-image: url(../img/header/icons-header.svg);
	background-size: contain;
	display: inline-block;
	width: 21px;
	height: 19px;
	margin-right: 12px;
	vertical-align: middle;
}

.header__link:nth-child(2) a:hover {
	background: linear-gradient(90.00deg, rgb(170, 93, 139), rgb(252, 103, 103) 100%);
}

.header__link:nth-child(2) a:active {
	background: linear-gradient(90.00deg, rgb(170, 93, 139), rgb(121, 44, 44) 100%);
}

/*--------------------------------------*/
.header__link:nth-child(3) a {
	border-radius: 30px;
	background: linear-gradient(90.00deg, rgb(255, 226, 89) 15.104%, rgb(255, 167, 81) 85.417%);
	color: rgb(73, 73, 73);
	padding: 22px 74px;

}

.header__link:nth-child(3) a:hover {
	background: linear-gradient(90.00deg, rgb(255, 167, 81) 15.104%, rgb(255, 226, 89) 85.417%);
}

.header__link:nth-child(3) a:active {
	background: linear-gradient(90.00deg, rgb(255, 226, 89) 15.104%, rgb(255, 167, 81) 85.417%);
}


/*--------------------------------------*/
.header__link:last-child a {
	color: rgb(1, 163, 27);
	border-radius: 0 30px;
	background: rgb(255, 255, 255);
	padding: 18px 40px;
}

.header__link:last-child a::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 31px;
	vertical-align: middle;
	border: 1px solid rgb(114, 19, 0);
	margin-right: 15px;

}

.header__link:last-child a:active {
	color: rgb(46, 212, 74);
}

.header__link:last-child a::after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 31px;
	vertical-align: middle;
	border: 1px solid rgb(114, 19, 0);
	margin-left: 15px;

}

.header__link:last-child a:hover::before {
	border: 1px solid rgb(255, 255, 255);
}

.header__link:last-child a:hover::after {
	border: 1px solid rgb(255, 255, 255);
}

.header__link:last-child a:active::before {
	border: 1px solid rgb(226, 26, 26);

}

.header__link:last-child a:active::after {
	border: 1px solid rgb(226, 26, 26);

}

/*=================================================================*/

.page {}

.krovato__container {
	margin-bottom: 50px;
}

.krovato__items {
	color: rgb(43, 41, 41);
	text-align: center;
}

.krovato__items li,
p,
h2 {
	margin-bottom: 25px;
}

.krovato__items p:last-child {
	margin-bottom: 0;
}

.krovato__title {
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;

}

.krovato__image img {
	width: 100%;
	border-radius: 8px;
	margin-bottom: 40px;
}

.krovato__text {}

.text {
	line-height: 187.5%;
	text-align: left;
}

.krovato__subtitle {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 25px;
}

.krovato__text-1 {
	margin-bottom: 40px;
}

.krovato__text-1 p:last-child {
	margin-bottom: 0;
}

/*
.krovato__item-list li {
	padding-left: 47px;
	background: url(../img/mark.png) 0 0 no-repeat;
}
*/
.krovato__item-list {
	display: inline-block;
}


.krovato__item-list p {
	max-width: 90%;
	display: inline-block;
	vertical-align: top;
}

.krovato__item-list li::before {
	content: "";
	background: url(../img/mark.png) 0 0 / 100% no-repeat;
	width: 27px;
	height: 27px;
	display: inline-block;
	margin-right: 20px;
	margin-top: 3px;

}

.krovato__item-list li:hover::before {
	opacity: 0.3;
}

/*=================================================================*/

.about {
	font-family: "Exo", sans-serif;
	background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.99) 85.536%);
	color: rgb(255, 255, 255);
	margin-bottom: 100px;
}

.about__container {
	text-align: center;

}

.about__items {
	font-size: 0;
	padding: 180px 0;

}

.about__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16;
	margin-bottom: 65px;
}

.about__title::after {
	display: block;
	content: "";
	height: 1px;
	background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 35%, rgba(36, 0, 255, 1) 100%);
	margin: 0 auto;
	width: 40%;
	margin-top: 30px;
}


.about__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 2.22;
	text-transform: capitalize;
	margin-bottom: 80px;
}

.about__list {
	font-weight: 500;
	line-height: 1.25;

}

.about__link {
	font-size: 20px;
	display: inline-block;
}

.about__link::after {
	content: "";
	background: linear-gradient(90.00deg, rgb(255, 0, 0), rgb(66, 255, 0) 48.9%, rgb(36, 0, 255) 100%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 55px;
}

.about__link a:hover {
	text-decoration: underline;
}

.about__link a:active {
	opacity: 0.5;
}

/*--------------------------------------*/
.ready__items {
	font-size: 0;
	padding: 100px 0;
}


.ready__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16;
	margin-bottom: 65px;
}

.ready__title::after {
	display: block;
	content: "";
	height: 1px;
	background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 35%, rgba(36, 0, 255, 1) 100%);
	margin: 0 auto;
	width: 80%;
	margin-top: 30px;
}

.ready__list {
	font-weight: 500;
	line-height: 1.25;
}

.ready__link {
	font-size: 20px;
	display: inline-block;
	margin: 0 25px;
}

.ready__link a:hover {
	text-decoration: underline;
}

.ready__link a:active {
	opacity: 0.5;
}

.ready__link:first-child a::before {
	content: "";
	background: url(../img/ready/call.svg);
	background-size: contain;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 25px;
}

.ready__link:nth-child(2) a::before {
	content: "";
	background: url(../img/ready/location.svg);
	background-size: contain;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 25px;
}


.ready__link:last-child a::before {
	content: "";
	background: url(../img/ready/email.svg);
	background-size: contain;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 25px;
}

/*=================================================================*/
.game {
	font-family: "Exo", sans-serif;
}

.game__container {
	text-align: center;
	margin-bottom: 150px;
}

.game__title {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.16;
	margin-bottom: 20px;
}

.game__items {
	font-size: 0;
	max-width: 1050px;
	min-height: 525px;
	background-color: #000;
	border-radius: 20px;
	padding: 10px;
}

.block {
	background-color: blueviolet;
	visibility: hidden;
}

.block-1 {
	background-color: aqua;
	width: 30px;
	height: 30px;
	visibility: visible;
}

.block-2 {
	width: 30px;
	height: 30px;
}

.block-1:hover~.block-2,
.block-2:hover {
	visibility: visible;
}


.block-3 {
	width: 300px;
	height: 30px;
}

.block-2:hover~.block-3,
.block-3:hover {
	visibility: visible;
}

.block-4 {
	margin-top: -30px;
	margin-left: 300px;
	width: 30px;
	height: 60px;
}

.block-3:hover~.block-4,
.block-4:hover {
	visibility: visible;
}

.block-5 {
	margin-left: 300px;
	width: 500px;
	height: 30px;
}

.block-4:hover~.block-5,
.block-5:hover {
	visibility: visible;
}

.block-6 {
	margin-top: -30px;
	margin-left: 800px;
	width: 30px;
	height: 80px;
}

.block-5:hover~.block-6,
.block-6:hover {
	visibility: visible;
}

.block-7 {
	margin-left: 800px;
	width: 150px;
	height: 30px;
}

.block-6:hover~.block-7,
.block-7:hover {
	visibility: visible;
}

.block-8 {
	margin-top: -30px;
	margin-left: 950px;
	width: 30px;
	height: 70px;
}

.block-7:hover~.block-8,
.block-8:hover {
	visibility: visible;
}

.block-9 {
	margin-left: 100px;
	width: 880px;
	height: 30px;
}

.block-8:hover~.block-9,
.block-9:hover {
	visibility: visible;
}

.block-10 {
	margin-left: 100px;
	width: 30px;
	height: 50px;
}

.block-9:hover~.block-10,
.block-10:hover {
	visibility: visible;
}

.block-11 {
	margin-left: 100px;
	width: 200px;
	height: 30px;
}

.block-10:hover~.block-11,
.block-11:hover {
	visibility: visible;
}

.block-12 {
	margin-top: -30px;
	margin-left: 300px;
	width: 30px;
	height: 30px;
}

.block-11:hover~.block-12,
.block-12:hover {
	visibility: visible;
}

.block-13 {
	margin-left: 300px;
	width: 120px;
	height: 30px;
}

.block-12:hover~.block-13,
.block-13:hover {
	visibility: visible;
}

.block-14 {
	margin-top: -30px;
	margin-left: 420px;
	width: 30px;
	height: 60px;
}

.block-13:hover~.block-14,
.block-14:hover {
	visibility: visible;
}

.block-15 {
	margin-left: 420px;
	width: 400px;
	height: 30px;
}

.block-14:hover~.block-15,
.block-15:hover {
	visibility: visible;
}

.block-16 {
	margin-top: -30px;
	margin-left: 820px;
	width: 30px;
	height: 60px;
}

.block-15:hover~.block-16,
.block-16:hover {
	visibility: visible;
}

.block-17 {
	margin-left: 820px;
	width: 90px;
	height: 30px;
}

.block-16:hover~.block-17,
.block-17:hover {
	visibility: visible;
}

.block-18 {
	background-color: aqua;
	margin-top: -30px;
	margin-left: 910px;
	width: 30px;
	height: 30px;
}

.block-17:hover~.block-18,
.block-18:hover {
	visibility: visible;
}

.block-image {
	background: url(../img/win.jpg) 0 0 / cover no-repeat;
	margin-left: 600px;
	visibility: hidden;
	height: 100px;
	width: 150px;
}

.block-18:hover~.block-image,
.block-18:hover {
	visibility: visible;
}

/*=================================================================*/

.footer {
	background: rgb(229, 229, 229);
}

.footer__container {
	text-align: center;

}

.footer__title {
	padding: 20px 0;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 700;
	color: black;
	text-shadow: 2px 2px 5px #000;
	text-transform: uppercase;
}

.footer__title:hover {
	color: rgb(56, 53, 53);
	text-shadow: 2px 2px 5px rgb(17, 15, 15);
}