@font-face {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 400;
    src: local('Satoshi Regular'), url(../fonts/Satoshi-Regular.woff2) format('woff2');
}

@font-face {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    src: local('Satoshi Medium'), url(../fonts/Satoshi-Medium.woff2) format('woff2');
}

@font-face {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    src: local('Satoshi Bold'), url(../fonts/IntegralCF-Bold.woff2) format('woff2');
}

@font-face {
    font-family: "Integral CF";
    src: local('Integral CF Bold'), local('Integral-CF-Bold'),
        url(../fonts/IntegralCF-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}