@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");

@import url("fonts.css");

@import url("reset.css");


/*--------------------------------------------------------------*/
body {
	font-family: "Proxima Nova", sans-serif;
	color: rgb(43, 41, 41);
	font-weight: 400;
	font-size: 16px;
	background: rgba(30, 40, 50, 0.05);

}


[class*="__container"] {
	max-width: 1070px;
	margin: 0px auto;
	padding: 0 20px;
}


.wrapper {
	overflow: hidden;
	min-height: 100%;
}

/*--------------------------------------------------------------*/
.header {
	background: rgba(30, 40, 50, 0.09);
}

.header__container {
	font-family: "Quicksand", serif;
	margin-bottom: 40px;
}

.header__items {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 0;
}

.header__list {}

.header__link {
	display: inline-block;
	text-align: center;
	font-size: 45px;
	font-weight: 500;
	margin: 0 70px;
	background: rgb(30, 40, 50);
	border-radius: 35px 10px;
	opacity: 0.9;
}

.header__link a {
	background: url(../img/header.svg) 10px 25px no-repeat;
	padding: 15px 20px 15px 45px;
	color: rgb(255, 255, 255);
	text-shadow: 2px 3px 5px #000;
}


/*--------------------------------------------------------------*/
.page {}

.krovato__container {
	margin-bottom: 50px;
}

.krovato__items {
	color: rgb(43, 41, 41);
	text-align: center;
}

.krovato__items p {
	margin-bottom: 25px;
}

.krovato__title {
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;

}

.krovato__image img {
	width: 100%;
	margin-bottom: 50px;
}

.krovato__text {}

.text {
	line-height: 187.5%;
	text-align: left;
}

.krovato__subtitle {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 25px;
}

.krovato__text-1 {}

.krovato__text-1 p {
	padding-left: 47px;
	background: url(../img/mark.png) 0 0 no-repeat;
}

/*--------------------------------------------------------------*/
.explore {
	background: url(../img/explore/background.png) center / cover;
	font-family: "Quicksand", serif;
	color: rgb(255, 255, 255);
	margin-bottom: 100px;
}

.explore__container {
	max-width: 1260px;
}

.explore__items {
	text-align: center;
	font-size: 0;
}

.explore__block {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	text-align: start;
	max-width: 50%;
	margin-right: 60px;
}

.explore__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 35px;
}

.explore__text {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.6;
	margin-bottom: 20px;
}

.explore__button {
	font-weight: 700;
	line-height: 1.56;
	background: rgb(255, 255, 255);
	display: inline-block;
	color: rgb(13, 18, 22);
	border-radius: 8px;
}

.explore__btn {
	padding: 12px 20px 12px 35px;
	background: url(../img/explore/icon.png) 10px 15px no-repeat;
	background-size: 17px 17px;
}

.explore__image {
	max-width: 547px;
	display: inline-block;
	vertical-align: middle;

}

.explore__image img {
	width: 100%;
}

/*--------------------------------------------------------------*/

.collections {
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	margin-bottom: 60px;
	background: url(../img/collections/decor1.png) 100% 80% no-repeat,
		url(../img/collections/decor2.png) 0 100% no-repeat;
}

.collections__container {
	max-width: 1320px;
	font-size: 0;
}

.collections__items {}

.collections__block {
	display: inline-block;
	vertical-align: middle;
	text-align: start;
	max-width: 690px;
	margin-right: 130px;

}

.collections__title {
	font-size: 74px;
	font-weight: 300;
	line-height: 0.74;
	text-transform: capitalize;
	margin-bottom: 60px;
}

.collections__text {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.83;
	text-transform: capitalize;
	margin-bottom: 80px;
}

.collections__button {
	background: rgb(30, 40, 50);
	display: inline-block;
	color: rgb(255, 255, 255);
	font-size: 29px;
	font-weight: 400;
	line-height: 1.17;
}

.collections__btn {
	background: url(../img/collections/icon-collection.png) 28px 22px no-repeat;
	padding: 19px 26px 19px 64px;
}

.collections__image {
	display: inline-block;
	vertical-align: middle;
	max-width: 425px;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 160px 0px;
}

.collections__image img {
	max-width: 425px;
	width: 100%;
	border-radius: 160px 0px;
	margin: -20px 0 15px -15px;
}

/*--------------------------------------------------------------*/
.footer {
	background: rgba(30, 40, 50, 0.09);
}

.footer__container {
	text-align: center;
	font-size: 40px;
	padding: 2px 0;
}

.footer__btn {
	background: rgb(30, 40, 50);
	color: rgb(255, 255, 255);
	border-radius: 15px 5px;
	padding: 10px 80px;
	opacity: 0.9;
}