@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,500,700&display=swap");

@import url("fonts.css");

@import url("reset.css");

/*=================================================================*/
body {
	font-family: "Proxima Nova", sans-serif;
	color: rgb(43, 41, 41);
	font-weight: 400;
	font-size: 20px;
	background: rgba(30, 40, 50, 0.05);
}


[class*="__container"] {
	max-width: 1290px;
	margin: 0px auto;
}


.wrapper {
	overflow: clip;
	min-height: 100%;
}



/*=================================================================*/

.header {
	position: fixed;
	padding: 20px 0;
	background-color: #fff;
	width: 100%;
	z-index: 70;
}

.header__container {}


.header__button {
	margin-left: 140px;
	color: #FFF;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	padding: 11px 20px 11px 55px;
	background: #FFBC57;
	border-radius: 8px;
	position: relative;

}

.header__button::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 20px;
	width: 24px;
	height: 24px;
	background: url(../img/button/menu-catalog.svg);
}

.header__button:active::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 20px;
	width: 24px;
	height: 24px;
	background: url(../img/button/close-catalog.svg);
}

.header__button:hover {
	background: #ec9e28;
}

/*------------------------------------------------------------------------*/
.menu {
	position: relative;
	z-index: 20;
	display: none;
}

.menu:target {
	display: block;
	position: absolute;
	min-width: 300px;
	border-radius: 8px 0 0 8px;
	background: #FFF;
	padding: 8px 0;
	top: 110%;
	left: 10%;
}



.menu__list {
	font-size: 0;
}

.menu__item {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	font-size: 20px;

}

.menu__link {
	font-size: 20px;
	padding: 10px 30px 10px 35px;
	position: relative;
	min-width: 300px;
	min-height: 60px;
}



.menu__link:hover {
	background: #FFBC57;

}


.menu__link::after {
	content: "";
	position: absolute;
	top: 22px;
	right: 15px;
	width: 24px;
	height: 24px;
	background: url(../img/menu/arrow.svg) 0 0 no-repeat;
}

.menu__link:hover::after {
	background: url(../img/menu/arrow-black.svg) 0 0 no-repeat;
}


.menu__img {
	margin-right: 15px;
	vertical-align: middle;
	display: inline-block;
}

.menu__title {
	display: inline-block;
	vertical-align: middle;

}

/*----------------------------------------------------------------------*/
.menu__item:hover .sub-menu {
	opacity: 1;
	visibility: visible;
}

.sub-menu {
	opacity: 0;
	visibility: hidden;
	background: #fff;
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 320px;
	border-radius: 0 8px 8px 0;
	padding: 8px 0;
	overflow: auto;
}

.sub-menu__list {
	font-weight: 400;
	font-size: 19px;
	color: #2B2929;
	line-height: 2.1;
	padding: 0 20px 20px 30px;
	height: 100%;
}

.sub-menu__list::before {
	content: "";
	position: absolute;
	border-left: 5px solid #ffbc57;
	height: calc(100% - 16px);
	width: 5px;
	top: 8px;
	left: 0;
}


.sub-menu__item {
}

.sub-menu__item:not(:last-child) {
	margin-bottom: 10px;
}

.sub-menu__link {}

.sub-menu__link:hover {
	color: #ec9e28;
}


/*--------------------------------------------------------------*/
.page {}

.page__container {
	padding-top: 150px;

}

.popular {
	font-size: 0;
}

.popular>* {
	font-size: 20px;
}



.popular__title {
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}

.popular__items {
	display: inline-block;
	padding: 0 4px 24px;
}


.popular__block {}

.block {
	background: #FFF;
	position: relative;
	max-width: 250px;
	min-height: 280px;
	border-radius: 8px;
	transition: transform 0.1s ease;
}

.block:active{
	transform: scale(1.03); 
}

.block:hover {
	box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25),
		0px -4px 4px 0px rgba(0, 0, 0, 0.25)inset;
}

.block::after {
	content: "";
	background: url(../img/main/popular/arrow-icon.svg) 0 0 no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/*
.popular__items:not(:last-child) {
	margin-right: 8px;
}
*/
.block__title {
	display: inline-block;
	font-weight: 600;
	line-height: 1.2;
	position: absolute;
	top: 20px;
	left: 20px;
}

.block__sub-title {
	display: inline-block;
	color: #B1B1B1;
	position: absolute;
	top: 20px;
	right: 20px;
}

.block__image img {
	border-radius: 8px;
}

.image-img {}

/*-----------------------------------------------------------------------------------*/

.footer {
	background-color: #fff;
}


.footer__container {
	text-align: center;
	font-size: 30px;
	line-height: 1.4;
	font-weight: 600;

}